# Uses Gradle actions to build project.
# For details, see: https://github.com/gradle/actions
name: Build and test project

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          architecture: 'x64'
      # Configure Gradle for optimal use in GitHub Actions, including caching of downloaded dependencies.
      # See: https://github.com/gradle/actions/blob/main/setup-gradle/README.md
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
      - name: Build and test
        run: ./gradlew build -Pmaven_settings_location='undefined'
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Application
          path: build/libs/crs-service.jar
      - name: Upload test reports
        uses: actions/upload-artifact@v4
        with:
          name: Test reports
          path: |
            build/test-results
            build/reports/tests
      - name: Build Docker image
        run: |
          ./gradlew -Pmaven_settings_location='undefined' dockerBuild
  dependency-submission:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          architecture: 'x64'

      # Generates and submits a dependency graph, enabling Dependabot Alerts for all project dependencies.
      # See: https://github.com/gradle/actions/blob/main/dependency-submission/README.md
      - name: Generate and submit dependency graph
        uses: gradle/actions/dependency-submission@v4
        with:
          additional-arguments: "-Pmaven_settings_location='undefined'"
